span{
    background-color: lightcoral;
    border-radius: 50%;
}
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 7px;
}
.tiisakunaru{
    font-size: 10px;
}
th{
    background-color: brown;
    color: white;
}
td{
    background-color: beige;
}